<div id="content" #sliderContainer>
  <app-progress-bar [progress]="progressBar"></app-progress-bar>
  <div id="container" #slider>
    <div id="slide1" class="slide">
      <div class="formCard">
        <div class="formHeader">Request for Birth Doula Services</div>
        <div class="formBody">
          CVD is a birth justice organization providing comprehensive doula
          support with a focus on vulnerable communities in the Chicago-land
          area. Doulas provide educational, physical and emotional support
          before, during and immediately after labor and childbirth. A doula
          does not provide any type of medical care.
          <br />
          <br />
          A Chicago Volunteer Doula is a labor support professional who has
          chosen to commit time and energy to helping pregnant people and their
          families in Chicago. Our doulas come from a variety of backgrounds.
          They are social workers, childcare workers, cab drivers, community
          organizers, accountants, stay-at-home moms, midwifery students,
          artists, activists, nurses, lawyers, teachers, yoga instructors and
          massage therapists.
          <br />
          <br />
          Our doulas celebrate different racial, ethnic, cultural and religious
          backgrounds and some are fluent in Spanish, Russian and Polish to name
          a few. CVD doulas include women, men and gender non-conforming or
          trans people, as well as members of both straight and LGBTQI
          communities. Some of our doulas have disabilities. No matter their
          background ALL of our doulas are committed to providing the best doula
          support to the clients we serve. If you feel you would not be
          comfortable receiving services from a doula who may not be from the
          same community as you or may come from a different background please
          let us know and we will be happy to refer you to a community based
          doula program or get you a list of private doulas.
        </div>
        <div class="cta">
          <app-button (click)="nextSlide()">next</app-button>
        </div>
      </div>
    </div>
    <div id="slide2" class="slide">
      <div class="formCard">
        <div class="formHeader">Terms and conditions</div>
        <div class="formBody">
          <div class="spb5Rd OIC90c">
            <b>What your doula will do for you:&nbsp;</b>
            <div>
              •They will assist you in a safe and supported birth.&nbsp;
            </div>
            <div>
              • They will meet with you and your birth partner(s) in advance to
              get acquainted and talk about your birth.&nbsp;
            </div>
            <div>
              •They will be available by phone for other questions/concerns
              before and after your birth. &nbsp;&nbsp;
            </div>
            <div>
              •&nbsp;They will meet you at home/hospital when you are in labor
              and go with you to the hospital staying throughout your labor and
              birth and for 1-2 hours afterwards. &nbsp;
            </div>
            <div>
              •They will make suggestions for labor progress and encourage you
              to get information to make decisions. •&nbsp;They will visit you
              following the birth to see how things are going and to review your
              birth&nbsp;
            </div>
            <div>
              •&nbsp;After the birth, They will provide information for
              postpartum recovery, breastfeeding, and baby care. &nbsp;
            </div>
            <div>
              •&nbsp;As your doula, they are working for you, not your caregiver
              or hospital.&nbsp;
            </div>
            <div>
              • If for any reason they are unable to come or continue as your
              doula, we will make sure that a back-up doula is called in.
              &nbsp;&nbsp;
            </div>
            <div><br /></div>
            <div><b>What your doula does not do:&nbsp;</b></div>
            <div>
              • They do not perform any medical tasks. They do not function in
              the role of medical personnel. They do not and cannot make any
              decisions regarding your medical care on your behalf.&nbsp;
            </div>
            <div>
              •<span style="white-space: pre"> </span>They do not and cannot
              make any medical judgment or give medical advice requiring the
              expertise of trained medical personnel. &nbsp; &nbsp;
            </div>
            <div>
              •<span style="white-space: pre"> </span>They do not speak to the
              staff on your behalf. They will discuss your concerns with you and
              urge you to speak to the health care staff directly
              yourself.&nbsp;
            </div>
            <div>
              •They will not drive you and/or your birth partner(s) to the
              hospital while in labor. &nbsp;&nbsp;
            </div>
            <div>
              •They do not attend births unassisted by health care providers.
              &nbsp;If a birth becomes unintentionally unassisted, your doula
              will call 911 or require that you call 911. &nbsp; &nbsp;
            </div>
            <div><br /></div>
            <div><b>Client Responsibilities:&nbsp;</b></div>
            <div>
              • You will call your doula when you are in labor as
              agreed.&nbsp;You will give them as much notice as possible to make
              it to you in a timely fashion.&nbsp;
            </div>
            <div>
              • You will notify the Program Director if you have concerns about
              your doula assignment. If you decide not to use your doula, you
              will let CVD know ASAP so that the doula can help another client.
              &nbsp;
            </div>
            <div>
              • You will share your birth plan with your care provider and let
              them know that you will have a doula with you in labor.&nbsp;
            </div>
            <div>
              • Your doulas are available to support you during planned Cesarean
              Birth. You will let your doula and the Program Director know if
              you choose not to have them present. &nbsp;You may be able to
              receive half of your donation deposit back if you decide not to
              use our services and notify us before 37 weeks. Because this is a
              volunteer based program we can not guarantee service to everyone
              but do our best to do so. If you deliver before you are matched we
              will refund your donation. &nbsp;I understand that a doula
              provides physical, emotional and informational support only and I
              agree to hold,&nbsp;<i>Chicago Volunteer Doulas, Inc.</i>&nbsp;and
              any affiliated partner institutions, where applicable, harmless
              for all medical or other issues that arise during the supported
              birth. By entering today's date below I acknowledge that I have
              read the above and understand the doula’s role and my
              responsibilities. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
            </div>
            <div>
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp;*********************************<span
                >********************************************&nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span
              >
            </div>
            <div><br /></div>
            <div>
              <b><u>Lo que su doula va a hacer por usted:&nbsp;</u></b>
            </div>
            <div>
              • Le brindará apoyo y le ayudarán a tener un parto seguro.
            </div>
            <div>
              • Se reunirá con usted y su acompañante (s) de parto con
              antelación para conocer y hablar acerca de su nacimiento.&nbsp;
            </div>
            <div>
              • Estará disponibles por teléfono para otras preguntas /
              preocupaciones antes y después de su nacimiento.&nbsp;
            </div>
            <div>
              • Le esperará en el hogar / hospital cuando usted esté en trabajo
              de parto e irá con usted al hospital, acompañándole durante todo
              el parto y hasta 1-2 horas después del nacimiento.&nbsp;
            </div>
            <div>
              • Le hará sugerencias para ayudar a que el parto progrese y le
              animará a obtener información para tomar decisiones.&nbsp;
            </div>
            <div>
              • Le visitará después del nacimiento para ver cómo está &nbsp;todo
              y procesar el nacimiento&nbsp;
            </div>
            <div>
              • Después del nacimiento, proporcionará información para la
              recuperación después del parto, la lactancia y el cuidado del
              bebé. &nbsp;Como su doula, está trabajando para usted, no para su
              médico o el hospital.&nbsp;
            </div>
            <div>
              • Si por alguna razón no puede llegar o continuar como su doula,
              nos aseguraremos de acudir a una doula de respaldo. &nbsp;Lo que
              su doula no hace&nbsp;
            </div>
            <div>
              • No lleva a cabo los procedimientos médicos. No ejercen en un rol
              de personal médico. No pueden tomar ninguna decisión con respecto
              a su atención médica de parte suya.&nbsp;
            </div>
            <div>
              • No pueden y no hacen ningún juicio médico o dan asesoramiento
              médico que requiere el conocimiento &nbsp;de personal médico
              capacitado.&nbsp;
            </div>
            <div>
              • No hablan con el personal en su nombre. Ellos van a discutir sus
              preocupaciones con usted y le animan a hablar con el personal de
              atención de salud directamente por sí mismo.&nbsp;
            </div>
            <div>
              • No le conducirán a usted y / o su pareja (s) de nacimiento hacia
              el hospital durante el parto.&nbsp;
            </div>
            <div>
              • No asisten partos que no son asistidos por profesionales de la
              salud. Si el parto se torna inminente, su doula llamará al 911 o
              le pedirá que llame al 911. Responsabilidades del Cliente:&nbsp;
            </div>
            <div>
              • Debe llama a su doula cuando inicie el trabajo de parto según lo
              acordado. Les dará la mayor anticipación posible para que lleguen
              a usted en un momento oportuno.&nbsp;
            </div>
            <div>
              • Usted notificará a la directora del programa si usted tiene
              preocupaciones acerca de su doula asignada. Si decide no utilizar
              su doula, avise a CVD lo más pronto posible para que la doula
              puede ayudar a otro cliente.&nbsp;
            </div>
            <div>
              • Usted le compartirá su plan de parto a su proveedor de atención
              y les dejará &nbsp;saber que le acompañará una doula durante el
              parto.&nbsp;
            </div>
            <div>
              • Sus doulas están disponibles para apoyarle durante el parto por
              cesárea planificada. Le dejará saber a su doula y la directora del
              programa si optar por no tenerlos presentes. Es posible que pueda
              recibir un reembolso de la mitad de su depósito de donación si
              usted decide no utilizar nuestros servicios y nos notifica antes
              de las 37 semanas. Yo entendiendo que la comadrona proporciona
              apoyo fisicamente, emocional, y informativa solamente y yo estoy
              de acuerdo en mantener,&nbsp;<i>Chicago Volunteer Doulas, Inc.</i
              >&nbsp;y cualquier institucion que esta afiliado, donde
              corresponda, mantener indemne de todos problemas medicos o otros
              asuntos que puedan surjir durante el parto apoyado. Al ingresar la
              fecha de hoy a continuación, reconozco que he leído lo anterior y
              entiendo el papel de la doula y mis responsabilidades.
            </div>
          </div>
        </div>
        <div id="agreement">
          <input
            type="checkbox"
            id="agree"
            (click)="toggleAgree()"
            [checked]="agreed"
          />
          <label for="agree">I agree</label>
        </div>
        <div class="cta">
          <a (click)="prevSlide()">prev</a>
          <ng-container *ngIf="agreed; else disagreed">
            <app-button (click)="nextSlide()">next</app-button>
          </ng-container>
          <ng-template #disagreed>
            <app-button type="disabled">next</app-button>
          </ng-template>
        </div>
      </div>
    </div>
    <div id="slide3" class="slide">
      <div class="formCard">
        <div class="formHeader">Who's this for?</div>
        <div class="formBody">
          <div id="users">
          <ng-container *ngFor="let user of users">
            <div class="user">
              <div class="userPuck"></div>
              <div class="userName">
                {{ user.name.first }} {{ user.name.last | slice : 0 : 1 }}.
              </div>
            </div>
          </ng-container>
        </div>
        </div>
        <div class="cta">
          <a (click)="prevSlide()">prev</a>
          <app-button (click)="nextSlide()">next</app-button>
        </div>
      </div>
    </div>
    <div id="slide4" class="slide">
      <div class="formCard">
        <div class="formHeader"></div>
        <div class="formBody"></div>
        <div class="cta">
          <a (click)="prevSlide()">prev</a>
          <app-button (click)="nextSlide()">next</app-button>
        </div>
      </div>
    </div>
  </div>
</div>
<div (click)="nextSlide()"></div>
