<h1>{{"Find a doula" | titlecase}}</h1>
<div id="body">
  <p>As an expecting person, feeling comfortable with your Birthworker is essential. CVD doulas come with their own
    experiences, expertise, identities, and interests. This section will help you decide which doula you connect with
    most
    by allowing you to peruse detailed profiles of the doulas. As you browse, you'll see how we're all committed to
    forging a trusting relationship with you and your family throughout your journey. </p>
  <p>To determine if a doula works in your area, click your hospital area or the area you live in on the color-coded
    map.
    The hotspots will take you to the doulas available in that area. Once you have browsed the doula listings, you can
    fill out the form below to request a doula.</p>
</div>
<app-button id="startButton" [route]="location">{{"start now" | titlecase}}</app-button>