<div id="banner">
  <div id="upper">
    <video autoplay muted loop oncanplay="this.play()" onloadedmetadata="this.muted = true">
      <source src="https://video.wixstatic.com/video/888992_a473167a47eb41a4bd9e7667b13e3920/1080p/mp4/file.mp4">
    </video>
    <app-dynamic-text id="dynamicText" [text]="dynamicText" center="all"></app-dynamic-text>
    <app-button id="donateBtn" center="horizontal" route="about">Donate Now</app-button>
  </div>
  <div id="lower">
    <div id="col1" class="columns">
      <div class="imageCon">
        <img
          src="https://static.wixstatic.com/media/888992_70b43498934a4b95a30daf7b8fad038b~mv2.png/v1/fill/w_714,h_599,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/888992_70b43498934a4b95a30daf7b8fad038b~mv2.png">
      </div>
    </div>
    <div id="col2" class="columns">
      <div class="imageCon">
        <img
          src="https://static.wixstatic.com/media/888992_879b6a8eda494d1ab336fc21a65f0f75~mv2.png/v1/fill/w_714,h_599,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/888992_879b6a8eda494d1ab336fc21a65f0f75~mv2.png">
      </div>
    </div>
    <div id="col3" class="columns">
      <div class="imageCon">
        <img
          src="https://static.wixstatic.com/media/888992_ad7cdda0e08e4bb8837afd2a4b1c72ac~mv2.png/v1/fill/w_714,h_599,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/888992_ad7cdda0e08e4bb8837afd2a4b1c72ac~mv2.png">
      </div>
    </div>
    <div id="col4" class="columns">
      <div class="imageCon">
        <img
          src="https://static.wixstatic.com/media/888992_2807631be2604e04969a95fc07a5c95b~mv2.png/v1/fill/w_714,h_599,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/888992_2807631be2604e04969a95fc07a5c95b~mv2.png">
      </div>
    </div>
  </div>
</div>