<div id="container">
  <div id="content">
    <div id="social">
        <a href="https://www.facebook.com/ChicagoVolunteerDoulas" target="_blank" class="title">
          facebook
        </a>
        <a href="https://twitter.com/ChiVolDoulas" target="_blank" class="title">
          twitter
        </a>
        <a href="https://instagram.com/ChicagoVolunteerDoulas" target="_blank" class="title">
          instagram
        </a>
    </div>
    <div id="contact">
      <a class="title" routerLink="contact">contact></a>
      <div class="phoneNumber group">
        <label for="pNC" class="title">T:</label>
        <a id="pNC" class="content" href="tel:+1312-300-6220">312-300-6220</a>
      </div>
      <div class="email group">
        <label for="eAC" class="title">E:</label>
        <a id="eAC" class="content" href="mailto:info@thecvd.org">info@thecvd.org</a>
      </div>
    </div>
    <div id="subscribe">
      <label for="subInput">Sign up to stay informed.</label>
      <div class="group">
        <input type="email" name="email" id="subInput" placeholder="Enter your email here">
        <app-button>{{"subscribe now" | uppercase}}</app-button>
      </div>
    </div>
    <div id="new" class="poppins">
      <h4>{{"What's new?"|uppercase}}</h4>
    </div>
    <a id="poster" href="https://bit.ly/2023Soiree" target="_blank">
        <img
          src="https://static.wixstatic.com/media/c286fe_c2b30f43bf664cef80ea4fe8b690f3fa~mv2.jpg/v1/fill/w_332,h_429,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/SUMMER%20SOIREE_vFINAL.jpg"
          alt="Poster">
    </a>
    <div id="credit">credit</div>
  </div>
</div>