#content {
  background-color: var(--cta-green-2);
  padding: 1rem 2.5rem;
  border: none;
  box-shadow: 1px 1px 2px hsla(0, 0%, 40%);
  color: var(--cta-purple);
  cursor: pointer;
  transition-duration: 300ms;
}
#content:hover {
  background-color: var(--cta-green-dark);
  color: white;
}
#content.inverted, #content.invert {
  background-color: var(--cta-purple);
  color: var(--cta-green-2);
}
#content.disabled {
  background-color: hsl(0, 0%, 40%);
  box-shadow: none;
  color: white;
  cursor: default;
}